# Ignore ruff cache
*.ruff_cache

# Ignore Python bytecode
*.pyc

# Ignore Python cache
__pycache__

# Ignore Python packaging files
*.egg-info
*.dist-info

# Ignore virtualenv
.venv

# Ignore LLM tools
.claude
